#common document extensions (case insensitive)
**.[pP][dD][fF]
**.[dD][oO][cC]
**.[dD][oO][tT]
**.[dD][oO][cC][xX]
**.[dD][oO][cC][mM]
**.[dD][oO][tT][xX]
**.[dD][oO][tT][mM]
**.[dD][oO][cC][bB]
**.[pP][pP][tT][xX]
**.[pP][pP][tT][mM]
**.[pP][oO][tT][xX]
**.[pP][oO][tT][mM]
**.[pP][pP][aA][mM]
**.[pP][pP][sS][xX]
**.[pP][pP][sS][mM]
**.[sS][lL][dD][xX]
**.[sS][lL][dD][mM]
**.[pP][pP][tT]
**.[pP][oO][tT]
**.[pP][pP][sS]
**.[xX][lL][sS][bB]
**.[xX][lL][aA]
**.[xX][lL][aA][mM]
**.[xX][lL][lL]
**.[xX][lL][wW]
**.[xX][lL][sS]
**.[xX][lL][tT]
**.[xX][lL][mM]

